@model ConManApp.EnModels.TipVozila
@{
    ViewData["Title"] = "AddTipTest";
}

<h2>AddTipTest</h2>
<h2>Unesite tip vozila:</h2>
@using (Html.BeginForm("AddTipTest", "TipVozila", FormMethod.Post))
{
@Html.TextBoxFor(m => m.NazivTipa, new { @placeholder = "Unesite naziv tipa vozila" })
<input type="submit" value="Sacuvaj" />
    }

