@model ConManApp.EnModels.Drzava
@{
    ViewData["Title"] = "AddDrzava";
}

<h2>AddDrzava</h2>
<h2>Unesite naziv drzave:</h2>
@using (Html.BeginForm("AddDrzava", "Drzava", FormMethod.Post))
{
    @Html.TextBoxFor(m => m.Naziv, new { @placeholder = "Unesite naziv drzave" })
    <input type="submit" value="Sacuvaj" />
}

