@model ConManApp.EnModels.RadnikVozilo
@{ ViewData["Title"] = "IznajmiVozilo"; }


<div class="col-md-4 offset-md-4 col-sm-12 form-wrapper">
    <h2>Iznajmljivanje vozila</h2>

    @using (Html.BeginForm("IznajmiVozilo", "Radnik", new { rv = @Model }))
    {
<input asp-for="VoziloId" hidden />

                <div class="form-group">
                    <label>Svrha iznajmljivanja:</label><br />
                    <input type="text" asp-for="SvrhaIznajmljivanja" class="form-control" placeholder="Svrha iznajmljivanja" />
                    <br />
                </div>
                                <div class="form-group">
                                    <label>Datum od kada iznajmljujete:</label><br />
                                    <input type="date" asp-for="DatumZaduzivanja" class="form-control" />
                                    <br />
                                </div>
                                                <div class="form-group">
                                                    <label>Datum do kada iznajmljujete:</label><br />
                                                    <input type="date" asp-for="DatumKrajaZaduzivanja" class="form-control" />
                                                    <br />
                                                </div>

                                                                <div class="form-group">
                                                                    <div class="form-row">
                                                                        <input type="submit" value="Sacuvaj" class="btn btn-success" /><br />
                                                                        <a href="/Radnik/PregledRaspoloziveOpreme" class="btn">Otkazi</a>
                                                                    </div>
                                                                </div>}

</div>
<style>
    .form-wrapper {
        margin-top: 50px;
    }

        .form-wrapper h2 {
            margin-bottom: 20px;
            text-align: center;
        }

        .form-wrapper div {
            margin-bottom: 10px;
            line-height: 1;
        }

        .form-wrapper .form-check-input {
            margin-top: 1px;
        }
</style>


<!--<h2>IznajmiVozilo</h2>
@using (Html.BeginForm("IznajmiVozilo","Radnik",new {rv=@Model}))
{
    <input asp-for="VoziloId" hidden />
    <label>Svrha:</label><br />
    <input type="text" asp-for="SvrhaIznajmljivanja" /><br />
    <label>Od</label><br />
    <input type="date" asp-for="DatumZaduzivanja" /><br />
    <label>Do</label><br />
    <input type="date" asp-for="DatumKrajaZaduzivanja" /><br />

    <input type="submit" class="btn btn-primary" value="Sacuvaj" />
}

<a href="/Radnik/Index">Back to index</a>
-->
