@{
    ViewData["Title"] = "Home Page";

}

<body>
    <!--
    <div class="header-logo">
        <img src="~/images/Logo.svg" alt="Logo" width="45" height="45" />
        <div class="sidebar-brand-text mx-3">ConManager <sup></sup></div>
    </div>
    <div class="header-banner row">
        <div class="col-md-8 row header-wrapper">
            <div class="text-holder col-md-7">

                <div class="text-wrapper">
                    <h1>We build the future.</h1>
                    <p>Welcome to our construction management platform.</p>
                </div>


            </div>
            <div class="image-holder col-md-5">

            </div>
        </div>

    </div>
        -->
    <!-- header-pocetak -->
    <header>
        <div class="header-area ">
            <div class="header-top_area d-none d-lg-block">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-5 col-md-5 ">
                            <div class="header_left">
                                <p>Radno vrijeme: ( 07.00h - 16.00h )</p>
                            </div>
                        </div>
                        <div class="col-xl-7 col-md-7">
                            <div class="header_right d-flex justify-content-end">
                                <a href="#" class="boxed-btn3">Javite nam se</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="address_bar d-none d-lg-block">
                <div class="container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-xl-3 col-lg-3">
                            <div class="logo logo-top">
                                <a href="index.html">
                                    <img src="~/images/logo-full.svg" alt="" height="45">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="address_menu d-flex justify-content-end">
                                <div class="single_address  d-flex">
                                    <div class="icon">
                                        <img src="~/img/icon/header-address.svg" alt="">
                                    </div>
                                    <div class="address_info">
                                        <h3>Adresa</h3>
                                        <p>Centar 2 12, Mostar</p>
                                    </div>
                                </div>
                                <div class="single_address d-flex">
                                    <div class="icon">
                                        <img src="~/img/icon/headset.svg" alt="">
                                    </div>
                                    <div class="address_info">
                                        <h3>Pozovite nas</h3>
                                        <p>+387 35 123 456</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </header>
    <!-- header-kraj -->
    <!-- slider_area_pocetak -->
    <div class="slider_area">

    </div>
    <!-- slider_area_kraj -->
    <!-- login-area_pocetak -->
    <div class="features_area">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-lg-4 col-md-4">
                    <div class="single_feature text-center">
                        <div class="icon">
                            <i class="fa fa-briefcase"></i>
                        </div>
                        <h3>Poslovođa</h3>
                        <a href="/poslovodja/login" class="btn login-button">Prijavite se kao Poslovođa</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="single_feature text-center">
                        <div class="icon">
                            <i class="fa fa-hammer"></i>
                        </div>
                        <h3>Radnik</h3>
                        <a href="/radnik/login" class="btn login-button">Prijavite se kao Radnik</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="single_feature text-center">
                        <div class="icon">
                            <i class="fa fa-boxes"></i>
                        </div>
                        <h3>Skladištar</h3>
                        <a href="/skladistar/login" class="btn login-button">Prijavite se kao Skladištar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- features_area_kraj -->
    <!-- o-nama-pocetak  -->
    <div class="about_area">
        <div class="container">
            <div class="border_1px">
                <div class="row align-items-center">
                    <div class="col-xl-6  col-md-6">
                        <div class="about_thumb">
                            <img src="~/img/about2.png" alt="">
                            <div class="pattern_img d-none d-lg-block">
                                <img src="~/img/pattern/pattern.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6">
                        <div class="about_info">
                            <h3>
                                Mi vam omogućavamo <br>
                                potpunu kontrolu nad vašim poslovanjem.
                            </h3>
                            <p class="first_para">
                                “Contrary to popular belief, Lorem Ipsum is not simply random text. 
                                It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
                            </p>
                            <p>
                                There are many variations of passages of lorem Ipsum available, but the majority have
                                suffered alteration in some form, by injected humour, or randomised words which don't
                                look even slightly believable.
                            </p>
                            <a href="#" class="boxed-btn3">Kontaktirajte nas</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- o-nama-kraj  -->
    
    <!-- chose_us_area start -->
    <div class="chose_us_area chose_bg_1">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-lg-6 col-md-8">
                    <div class="chose_info">
                        <h3>Zašto izabrati nas?</h3>
                        <p class="lasrge_text">
                            “ConMan vam nudi dugi niz usluga za vašu građevinsku firmu.
                        </p>
                        <p>
                            Lorem Ipsum available, but the majority have
                            suffered alteration in some form, by injected.
                        </p>
                        <div class="icon_video">
                            <a class="popup-video" href="https://www.youtube.com/watch?v=Spi1vvZgLXw">
                                <i class="fa fa-caret-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- contact_us_start  -->
    <div class="contact_us overlay">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8 col-md-7">
                    <div class="contact_text">
                        <h3>
                            Da li ste u potrazi za Građevinskim
                            i Industrijskim Expertima?
                        </h3>
                    </div>
                </div>
                <div class="col-lg-4 col-md-5">
                    <div class="contact_btn">
                        <a class="boxed-btn3" href="#">Kontaktirajte nas</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- contact_us_end -->
    <!-- footer_start  -->
    <footer class="footer">
        <div class="download_brochure">
            <div class="container">
                <div class="bordered_1px">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="footer_logo">
                                <a href="#">
                                    <img src="/images/Logo-full.svg" alt="" height="50">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="download_btn">
                                <a href="#"> <img src="img/icon/down.svg" alt="">Preuzmite brošuru</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-md-6 col-lg-3 ">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                O nama
                            </h3>
                            <p>
                                Centar 2 21 <br> Mostar 88000 <br>
                                <a href="#">+387 35 123456</a> <br>
                                <a href="#">contact@conman.com</a>
                            </p>
                            <p>



                            </p>
                            <div class="socail_links">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-pinterest"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-youtube-play"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Popularno
                            </h3>
                            <ul>
                                <li><a href="#">Upošljavanje radnika</a></li>
                                <li><a href="#">FQA</a></li>
                                <li><a href="#">Alumni</a></li>
                                <li><a href="#">Projekti</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-2 offset-xl-1 offset-lg-1">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Linkovi
                            </h3>
                            <ul>
                                <li><a href="#">O nama</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Kontakt</a></li>
                                <li><a href="#">Projekti</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-lg-4">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Pretplatite se
                            </h3>
                            <form action="#" class="newsletter_form">
                                <input type="text" placeholder="Unesite vašu email adresu">
                                <button type="submit">Pretplatite se</button>
                            </form>
                            <p class="newsletter_text">
                                Esteem spirit temper too say adieus who direct esteem esteems
                                luckily.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-12">
                        <p class="copy_right text-center">
                            Copyright © All rights reserved. ConMan 2020. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

<style>
    .navbar-nav {
        display: none;
    }
    .sticky-footer{
        display:none;
    }
    .header-logo {
        text-align: center;
        color: black;
    }

    .header-banner {
        height: 300px;
        margin-top: 60px;
    }

    .header-wrapper {
        margin: 0 auto 0;
    }

    .text-wrapper {
        margin: auto auto auto 60px;
    }

        .text-wrapper h1 {
            margin-top: 20px;
        }

        .text-wrapper p {
            font-size: 21px;
            margin-bottom: 0px;
        }

    .text-holder {
        display: flex;
        padding-left: 60px;
    }


    .image-holder {
        background: url(images/engineers-banner.svg) no-repeat;
        background-size: contain;
    }

    .slider_area {
        background: url(img/banner2.png) no-repeat;
        background-size: cover;
        height: 700px;
    }
    .header-area .address_bar {
        padding-bottom: 29px;
    }



</style>





