
@{
    ViewData["Title"] = "PosaljiPoruku";
}

<table>
<thead>
    <tr>
        <th>Pošalji poruku: </th>
    </tr>
</thead>
<tbody>
    <tr>
        <td><a href="/SMS/Send">Klikni</a></td>
    </tr>
</tbody>
</table>